---
import { Icon } from "astro-icon";

const { eventName, dateStart, dateEnd, location, locationurl } = Astro.props;

const dateStartObject = new Date(dateStart);
const dateEndObject = new Date(dateEnd);
let formattedStartDate = null;
let formattedEndDate = null;
if (dateStartObject.toDateString() == dateEndObject.toDateString()) {
    formattedStartDate = dateStartObject.toLocaleDateString("en-US", {
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
    });
    formattedEndDate = dateEndObject.toLocaleTimeString("en-US", {
        hour: "2-digit",
        minute: "2-digit",
    });
} else {
    formattedStartDate = dateStartObject.toLocaleDateString("en-US", {
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
    });
    formattedEndDate = dateEndObject.toLocaleDateString("en-US", {
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
    });
}
---

<div
    class="bg-white text-blue-700 border-[8px] lg:border-[12px] border-blue-400 py-4 lg:py-6 px-6 rounded-3xl shadow-lg flex-initial z-10"
>
    <h1 class="font-medium text-xl lg:text-xl pb-3">Sign up</h1>
    <h1 class="font-black text-2xl lg:text-3xl pb-3">{eventName}</h1>
    <div class="flex gap-2 lg:gap-4 py-2">
        <Icon
            pack="mdi"
            name="clock-time-four-outline"
            color="#1d4ed8"
            width="29"
        />
        <h3 class="font-semibold text-lg">
            {formattedStartDate} - {formattedEndDate}
        </h3>
    </div>
    <div class="flex gap-2 lg:gap-4 pt-2 pb-5">
        <Icon
            pack="ic"
            name="outline-place"
            color="#1d4ed8"
            width="30"
        />
        <a href={locationurl} target="_blank">
            <h3 class="font-semibold text-lg underline hover:text-blue-400">{location}</h3>
        </a>
    </div>

    <button
        class="btn btn-md bg-blue-700 hover:bg-blue-800 w-full rounded-md font-semibold text-base lg:text-xl text-white"
        >RSVP</button
    >
</div>
