---
import logo_white from "../assets/images/logo_white.svg";
import discord from "../assets/images/discord.svg";
import email from "../assets/images/email.svg";
import instagram from "../assets/images/instagram.svg";
import linkedin from "../assets/images/linkedin.svg";

---

<div
    class="flex flex-col justify-end h-[64vh] bg-gradient-to-t from-[#2356DD] to-[#5884FB] text-white px-24 pb-16"
>
    <img src={logo_white} class="w-60 translate-y-8 -translate-x-5 h-w-52" />
    <h3 class="text-2xl mb-1 font-light">McMaster University</h3>

    <h1 class="text-3xl font-extrabold">Computer Science</h1>
    <h1 class="text-3xl font-extrabold mb-3">Society</h1>

    <h3 class="text-2xl font-light">Connecting the science with the</h3>
    <h3 class="text-2xl font-light">students through computers</h3>

    <div class="flex">
        <a href="https://www.instagram.com/mcmastercss/"><img src={instagram} class="w-9 mt-6 mr-8" /></a>
        <a href="https://discord.gg/YKPN7wX"><img src={discord} class="w-9 mt-6 mr-8" /></a>
        <a href="https://www.linkedin.com/company/mcmastercs"><img src={linkedin} class="w-9 mt-6 mr-8" /></a>
        <a href="mailto:mcss@mcmaster.ca'"><img src={email} class="w-9 mt-6 mr-8" /></a>
    </div>
</div>
