---
import { Image } from "astro:assets";
import ArianProfile from "../../src/assets/team/arian.jpg";
import KhaiProfile from "../../src/assets/team/khai.jpg";
import ArruranProfile from "../../src/assets/team/arruran.jpg";
import HaqProfile from "../../src/assets/team/haq.jpg";
import NihalProfile from "../../src/assets/team/nihal.jpg";
interface TeamMember {
  name: string;
  role: string;
  image: ImageMetadata;
}
const team: TeamMember[] = [
  {
    name: "Arian Ahmadinejad",
    role: "Techincal Mangé",
    image: ArianProfile,
  },
  {
    name: "khai",
    role: "Director",
    image: KhaiProfile,
  },
  {
    name: "arruran",
    role: "IDK",
    image: ArruranProfile,
  },
  {
    name: "haq",
    role: "IDK",
    image: HaqProfile,
  },
  {
    name: "nihal",
    role: "IDK",
    image: NihalProfile,
  },
  {
    name: "Arian Ahmadinejad",
    role: "Techincal Mangé",
    image: ArianProfile,
  },
  {
    name: "khai",
    role: "Director",
    image: KhaiProfile,
  },
  {
    name: "arruran",
    role: "IDK",
    image: ArruranProfile,
  },
  {
    name: "haq",
    role: "IDK",
    image: HaqProfile,
  },
  {
    name: "nihal",
    role: "IDK",
    image: NihalProfile,
  },
  {
    name: "Arian Ahmadinejad",
    role: "Techincal Mangé",
    image: ArianProfile,
  },
  {
    name: "khai",
    role: "Director",
    image: KhaiProfile,
  },
  {
    name: "arruran",
    role: "IDK",
    image: ArruranProfile,
  },
  {
    name: "haq",
    role: "IDK",
    image: HaqProfile,
  },
  {
    name: "nihal",
    role: "IDK",
    image: NihalProfile,
  },
];
---

<!-- <h3 class="text-2xl font-semibold text-center text-blue-600">
  run with ❤️ for students by students
</h3> --><!-- animate-marquee3 lg:animate-marquee --><!-- animate-marquee4 lg:animate-marquee2 -->
<div class="relative flex pt-20 overflow-x-hidden"> <!--container -->
  <div class="flex gap-4 animate-marquee whitespace-nowrap"> <!--og -->
    {
      team.map((image) => (
        <div class="tooltip tooltip-top h-16 w-16" data-tip={image.name}>
          <Image
            src={image.image}
            class="h-16 w-16 rounded-full border-4 hover:border-zinc-900"
            alt={image.name}
            width={100}
            height={100}
          />
        </div>
      ))
    }
  </div>
  <div class="flex gap-4 animate-marquee whitespace-nowrap ml-4"> <!--og -->
    {
      team.map((image) => (
        <div class="tooltip tooltip-top h-16 w-16" data-tip={image.name}>
          <Image
            src={image.image}
            class="h-16 w-16 rounded-full border-4 hover:border-zinc-900"
            alt={image.name}
            width={100}
            height={100}
          />
        </div>
      ))
    }
  </div>
  
</div>

<style>
  /* Hide the verticle scroll bar */
  /* Chrome */
  *::-webkit-scrollbar {
    width: 10px;
  }
  /*Firefox and Edge*/
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .tooltip:before {
    --tooltip-color: white;
    --tooltip-text-color: black;
    @apply border-2 border-zinc-900 font-semibold;
  }
</style>
