---
import { Image } from "astro:assets";
import ArianProfile from "../../src/assets/team/arian.jpg";
import KhaiProfile from "../../src/assets/team/khai.jpg";
import ArruranProfile from "../../src/assets/team/arruran.jpg";
import HaqProfile from "../../src/assets/team/haq.jpg";
interface TeamMember {
  name: string;
  role: string;
  image: ImageMetadata;
}
const team: TeamMember[] = [
  {
    name: "Arian Ahmadinejad",
    role: "Techincal Manager",
    image: ArianProfile
  },
  {
    name: "khai",
    role: "Director",
    image: KhaiProfile
  },
  {
    name: "arruran",
    role: "IDK",
    image: ArruranProfile
  },
  {
    name: "haq",
    role: "IDK",
    image: HaqProfile
  }
]
---

<!-- <h3 class="text-2xl font-semibold text-center text-blue-600">
  run with ❤️ for students by students
</h3> -->
<!-- animate-marquee3 lg:animate-marquee -->
<!-- animate-marquee4 lg:animate-marquee2 -->
<div class="relative flex pt-20 overflow-x-hidden">
  <div
    class="flex lg:gap-4 animate-marquee whitespace-nowrap"
  >
    {
      team.map((image) => (
      <div class="tooltip tooltip-top" data-tip={image.name}>
        <Image
          src={image.image}
          class="aspect-square lg:mx-4.5 mx-8 rounded-full border-4 hover:border-zinc-900 h-16 min-w-max md:h-20"
          alt={image.name}
          width={100}
          height={100}
        />
      </div>
      ))
    }
  </div>
  <div
    class="absolute -left-0 lg:left-14 flex lg:gap-4 animate-marquee2 whitespace-nowrap"
  >
    {
      team.map((image) => (
      <div class="tooltip tooltip-top" data-tip={image.name}>
        <Image
          src={image.image}
          class="aspect-square lg:mx-4.5 mx-8 rounded-full border-4 hover:border-zinc-900 h-16 min-w-max md:h-20"
          alt={image.name}
        />
      </div>
      ))
    }
  </div>
</div>

<style>
  /* Hide the verticle scroll bar */
  /* Chrome */
  *::-webkit-scrollbar {
    width: 10px;
  }
  /*Firefox and Edge*/
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .tooltip:before {
    --tooltip-color: white;;
    --tooltip-text-color: black;
    @apply font-semibold border-2 border-zinc-900
}
</style>
